<div class="picture" v-if="showAbout()">
</div>


<div class="profile" v-if="showAbout()">

  <h1>Maxime Alardo</h1>

  <div class="intro">

    <p>
      Hi ya! I'm a computer science student, software engineer and traveler.
    </p>

    <p>
      I've been passionate about Engineering, Education, self-learning and community based learning since growing up in Madagascar.
      I'm keen on building software products empowering people, and surfing waves.
      Settled in San Francisco Bay Area on the long term now, hit me up! :)
    </p>

    <p>
    Studied Computer Science at UC San Diego and now visiting UC Berkeley (Partnership Program between UCs &amp; France). <br>
    SWE intern at Cisco HQ (special CIIP batch 2018-2019 - 12 month program supervised by <a href="https://en.wikipedia.org/wiki/Landon_Curt_Noll">Landon Noll</a> in collaboration with <a href="http://research.cisco.com/">Cisco Research</a>).
    </p>

  </div>

  <h1>Background </h1>

  <div class="background">
    <div class="country usa">
      <div class="show">
        <img src="/images/usa.png" alt="California, USA">
        <p><b>Currently living in Berkeley, USA</b></p>
      </div>
      <!--
      <div class="more box" hidden>
        <p>
          Studied Computer Science in UC San Diego, USA.
        </p>
      </div>-->
    </div>
    <div class="country france">
      <div class="show">
        <img src="/images/france.png" alt="France">
        <p><b>Lived in France</b></p>
      </div>
      <!--
      <div class="more box" hidden>
        Studied in the Grandes Ecoles &amp; CPGE System in France doing an MPSI/MP*.
      </div>-->
    </div>
    <div class="country madagascar">
      <div class="show">
        <img src="/images/madagascar.png" alt="Madagascar">
        <p><b>Grew up in Madagascar</b></p>
      </div>
      <!--
      <div class="more box" hidden>
        <p>
          Grew up in Diego Suarez, Madagascar, where I became passionate about learning (reading autonomously CS, Math, Physics and any fields in general!), traveling and riding waves. I studied in the Lycee Francais a l'Etranger AEFE.
        </p>
      </div>-->
    </div>
    <div class="country texas">
      <div class="show">
        <img src="/images/usa.png" alt="Houston, USA">
        <p><b>Lived in Houston, USA</b></p>
      </div>
      <!--
      <div class="more box" hidden>
        <p>
          Currently studying Computer Science in UC San Diego, USA.
        </p>
      </div>-->
    </div>
    <div class="country mexico">
      <div class="show">
        <img src="/images/mexico.png" alt="Mexico">
        <p><b>Lived in Mexico</b></p>
      </div>
      <!--
      <div class="more box" hidden>
        <p>
          Before going to Madagascar, I traveled with my parents and lived in Mexico City and Caracas, Venezuela.
        </p>
      </div>-->
    </div>
    <div class="country venezuela">
      <div class="show">
        <img src="/images/venezuela.png" alt="Venezuela">
        <p><b>Lived in Venezuela</b></p>
      </div>
      <!--
      <div class="more box">
        <p>
          Before going to Madagascar, I traveled with my parents and lived in Mexico City and Caracas, Venezuela.
        </p>
      </div>-->
    </div>

    <div class="">
    </div>

    </div>

  <h1>What I've been up to recently </h1>
  <p>
    Attended the <a href="https://githubuniverse.com/">GitHub Universe</a> conference in San Francisco, and more recently, <a href="https://she256.io">She256: Woman in Blockchain</a> conference at UC Berkeley! Inspiring experiences!
  </p>
</div>
