<div class="picture" v-if="showAbout()">
</div>


<div class="profile" v-if="showAbout()">

  <h1># Hi! </h1>

  <div class="intro">

    <p>
      Hi! I'm Maxime and I love meeting people around the world.
      Whether they are travelers, part of the tech community, engineers, scientists, artists, writers or more generally anyone passionate, I'm fond of making meaningful connections
      and learning even more about any subject!
    </p>

    <p>
      Currently studying Computer Science in UC San Diego, I go to hackatons, conferences, and ride waves.

    <p>
      I’m keen on information freedom, a better education system, and innovations that could help make this world a better place.
      Let's work together and have a positive impact!
    </p>

  </div>

  <h1># I lived in </h1>

  <div class="post-childhood">

    <img src="/images/overlay.png" alt="California, USA">
    <img src="/images/overlay.png" alt="France">

    <p>
      I'm currently studying Computer Science in UC San Diego, USA. <br>
      I also studied in the Grandes Ecoles &amp; CPGE System in France doing an MPSI/MP* in Lycee Fenelon, Paris then an Engineering School in Bordeaux-INP.
    </p>
  </div>

  <div class="peri-childhood">
    <img src="/images/overlay.png" alt="Diego Suarez, Madagascar">

    <p>
      I grew up in Diego Suarez, Madagascar, where I became passionate about learning (reading autonomously CS, Math, Physics and any fields in general!), traveling and riding waves. I studied in the Lycee Francais a l'Etranger AEFE.
    </p>
  </div>

  <div class="pre-childhood">
    <img src="/images/overlay.png" alt="Caracas, Venezuela">
    <img src="/images/overlay.png" alt="Mexico City">
    <img src="/images/overlay.png" alt="Houston, USA">

    <p>
      Before going to Madagascar, I traveled with my parents and lived in Caracas, Mexico City &amp; Houston studying at Awty International School.
    </p>
  </div>


  <h1># What I've been up to recently </h1>
  <p>
    Survived a category 4 hurricane in Texas and went to Austin, I love Austin!
  </p>
</div>
