<div class="experiences" v-if="showExperiences()">

  <div class="work">
    <h1># Work Experience</h1>

    <div class="job">
        <img src="/images/experiences/int.png" alt="INT">
        <p><b>INT</b></p>
    </div>

    <div class="job">
        <img src="/images/experiences/ms-stream.png" alt="MS-STREAM">
        <p><b>LaBRI Research &amp; Viotech</b></p>
    </div>

    <div class="job">
        <img src="/images/experiences/orange.png" alt="Orange">
        <p><b>Orange</b></p>
    </div>

  </div>

  <div class="involvement">
    <h1># Getting involved</h1>

    <div class="involve">
        <img src="/images/experiences/hackbordeaux.png" alt="HackBordeaux">
        <p><b>HackBordeaux</b></p>
    </div>
  </div>

  <div class="projects">
    <h1># Projects</h1>
    <div class="project">
      <img src="/images/experiences/hackcambridge.png" alt="HackCambridge">
      <p><b>GetMeThere - Skyscanner Winner &amp; Finalist @HackCambridge</b></p>
    </div>

    <div class="project">
      <img src="/images/experiences/hackkings.png" alt="Hackkings">
      <p><b>Showambi - Shazam Winner @HackKing's</b></p>
    </div>
  </div>

</div>
