<div class="experiences" v-if="showExperiences()">

  <div class="work">
    <h1>Work Experience</h1>

    <a href="https://www.cisco.com/"><div class="job">
        <img src="/images/experiences/cisco.png" alt="INT">
        <p class="company"><b>Cisco</b></p>
        <p>Software Engineering Intern<br>@ CIIP - 12 months supervised by Landon Noll</p>
    </div><a>

    <a href="https://www.int.com/"><div class="job">
        <img src="/images/experiences/int.png" alt="INT">
        <p class="company"><b>INT</b></p>
	    <p>Software Engineering Intern</p>
    </div><a>

    <a href="https://www.inria.fr/en/"><div class="job">
        <img src="/images/experiences/inria.png" alt="INRIA/CNRS MS-STREAM">
        <p class="company"><b>INRIA/CNRS (LaBRI Research)</b></p>
	    <p>Software Engineer<br>@ MS-Stream Team</p>
    </div></a>
    <!-- http://msstream.viotech.net/#/index -->

    <a href="https://www.orange.com/en/home"><div class="job">
        <img src="/images/experiences/orange.png" alt="Orange">
        <p class="company"><b>Orange</b></p>
	    <p>Software Engineering Intern</p>
    </div></a>

  </div>

  <div class="involvement">
    <h1>Getting involved</h1>

    <a href="http://hackbordeaux.com/"><div class="involve">
        <img src="/images/experiences/hackbordeaux2.png" alt="HackBordeaux">
        <p class="company"><b>HackBordeaux</b></p>
        <p>Founder &amp; Director</p>
    </div></a>
  </div>

  <div class="projects">
    <h1>Projects</h1>
    <a href="https://hackcambridge.com/"><div class="project">
      <img src="/images/experiences/hackcambridge.png" alt="HackCambridge">
      <p><b>GetMeThere - Skyscanner Winner &amp; Finalist<br>@HackCambridge</b></p>
  </div></a>

    <a href="http://hackkings.org/"><div class="project">
      <img src="/images/experiences/hackkings.png" alt="Hackkings">
      <p><b>Showambi - Shazam Winner<br>@HackKing's</b></p>
    </div></a>
  </div>

  <a href="http://lauzhack.com/"><div class="project">
    <img src="/images/experiences/lauzhack.png" alt="Hackkings">
    <p><b>Recipeasy - EPFL OpenFood Winner<br>@LauzHack</b></p>
  </div></a>
 </div>

</div>
