<div class="experiences" v-if="showExperiences()">

  <div class="work">
    <h1># Work Experience</h1>

    <a href="https://www.int.com/"><div class="job">
        <img src="/images/experiences/int.png" alt="INT">
        <p class="company"><b>INT</b></p>
	      <p>Software Engineering Intern</p>
    </div><a>

    <a href="http://msstream.viotech.net/#/index"><div class="job">
        <img src="/images/experiences/ms-stream.png" alt="MS-STREAM">
        <p class="company"><b>LaBRI Research &amp; Viotech</b></p>
	      <p>Lead Software Engineer, MS-Stream team</p>
    </div></a>

    <a href="https://www.orange.com/en/home"><div class="job">
        <img src="/images/experiences/orange.png" alt="Orange">
        <p class="company"><b>Orange</b></p>
	      <p>Software Engineering Intern</p>
    </div></a>

  </div>

  <div class="involvement">
    <h1># Getting involved</h1>

    <a href="http://hackbordeaux.com/"><div class="involve">
        <img src="/images/experiences/hackbordeaux.png" alt="HackBordeaux">
        <p class="company"><b>HackBordeaux</b></p>
	      <p>Founder &amp; Director @HackBordeaux</p>
    </div></a>
  </div>

  <div class="projects">
    <h1># Projects</h1>
    <a href="https://hackcambridge.com/"><div class="project">
      <img src="/images/experiences/hackcambridge.png" alt="HackCambridge">
      <p><b>GetMeThere - Skyscanner Winner &amp; Finalist @HackCambridge</b></p>
  </div></a>

    <a href="http://hackkings.org/"><div class="project">
      <img src="/images/experiences/hackkings.png" alt="Hackkings">
      <p><b>Showambi - Shazam Winner @HackKing's</b></p>
    </div></a>
  </div>

  <a href="http://lauzhack.com/"><div class="project">
    <img src="/images/experiences/lauzhack.png" alt="Hackkings">
    <p><b>Recipeasy - EPFL OpenFood Winner @LauzHack</b></p>
  </div></a>
 </div>

</div>
